// CSS Variables
:root {
  --primary-color: #5372F0;
  --selection-color: #fff;
  --selection-bg: cadetblue;
  --border-color: #e0e0e0;
  --text-color: #333;
  --background-image: url('https://wallpapercave.com/wp/5KLTq1z.jpg');
  --shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;
  --border-radius: 15px;
  --button-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

.wrapper {
  width: 70%;
  max-width: 900px;
  background: #fff;
  border-radius: var(--border-radius);
  padding: 30px 30px 25px;
  box-shadow: var(--shadow);
}

.wrapper header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  
  h1 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }
}

.wrapper .content {
  margin: 35px 0;
}

.wrapper .content .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area i {
  font-size: 15px;
}

.quote-area i:first-child {
  margin: 3px 10px 0 0;
}

.quote-area i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}

.quote-area .quote {
  font-size: 22px;
  text-align: center;
  word-break: break-word;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  
  &::before,
  &::after {
    content: none;
  }
}

.content .author {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  
  cite {
    font-style: italic;
    font-family: monospace;
    margin: -6px 5px 0 0;
  }
  
  span {
    user-select: none;
  }
}

.wrapper .buttons {
  border-top: 1px solid var(--border-color);
}

.buttons .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  transition: var(--transition);
  
  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
}

.features ul li:first-child{
  margin-left: 0;
}

ul li:is(:hover, .active) {
  color: #fff;
  background: var(--primary-color);
}

ul .speech.active {
  pointer-events: none;
}

.features button {
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: var(--button-radius);
  background: var(--primary-color);
  transition: var(--transition);
  
  &:hover:not(:disabled) {
    opacity: 0.9;
    transform: translateY(-1px);
  }
  
  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
  
  &:disabled {
    cursor: not-allowed;
  }
}

.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}

// Responsive Design
@media (max-width: 768px) {
  .wrapper {
    width: 85%;
    padding: 25px 25px 20px;
  }
  
  .wrapper header {
    font-size: 29px;
  }
  
  .quote-area .quote {
    font-size: 20px;
  }
  
  .content .author {
    font-size: 16px;
  }
  
  .quote-area i {
    font-size: 12px;
  }
  
  .features ul li {
    margin: 0 3px;
    height: 45px;
    width: 45px;
  }
  
  .buttons button {
    font-size: 15px;
    padding: 12px 20px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 95%;
    padding: 20px 20px 15px;
  }
  
  .wrapper header {
    font-size: 24px;
  }
  
  .quote-area .quote {
    font-size: 18px;
  }
  
  .features ul li {
    height: 40px;
    width: 40px;
    font-size: 14px;
  }
}